<h1 class="movie-title"><%= @movie_title[0][:title]%><h1>

<ul>
    <li class="synopsis "><%= @movie_title[0][:synopsis]%></li>
    <li class="rating" ><%= @movie_title[0][:rating]%></li>
    <li class="genre" ><%= @movie_title[0][:genre]%></li>
    <li class="studio"><%= @movie_title[0][:studio]%></li>
    <li class="year"><%= @movie_title[0][:year]%></li>
</ul>
